<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup">
                <!--Contact Information-->
                <div formGroupName="customer" class="form-area">
                    <h3>Contact Information</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>First Name</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="firstName" type="text" placeholder="First Name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Last Name</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="lastName" type="text" placeholder="Last Name">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Email</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="email" type="text" placeholder="Email Address">
                            </div>
                        </div>
                    </div>

                </div>

                <!--Shipping Address-->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Address</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="address" type="text" placeholder="Address">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="city" type="text" placeholder="City">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Province</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <select formControlName="province">
                                    <option>TO DO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postal Code</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="postalCode" type="text" placeholder="Postal Code">
                            </div>
                        </div>
                    </div>

                </div>

                <!--Checkbox that checks if shipping address and billing address are the same-->
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingToBilling($event)">
                        <span class="au-checkmark"></span> Billing Address same as Shipping Address
                    </label>
                </div>

                <!--Billing Address-->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Address</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="address" type="text" placeholder="Address">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>City</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="city" type="text" placeholder="City">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Province</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <select formControlName="province">
                                    <option>TO DO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Postal Code</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="postalCode" type="text" placeholder="Postal Code">
                            </div>
                        </div>
                    </div>

                </div>

                <!--Credit Card-->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Number</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text" placeholder="16-digit number on card">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Card Holder</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="nameOnCard" type="text" placeholder="Name on card">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Month</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <select formControlName="expirationMonth">
                                    <option>TO DO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Expiration Year</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <select formControlName="expirationYear">
                                    <option>TO DO</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"> <label>Security Code</label></div>
                        <div class="col-md-7">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text" placeholder="3-digit code on card">
                            </div>
                        </div>
                    </div>
                </div>

                <!--Order Summary-->
                <div class="form-area">
                    <h3>Order Summary</h3>
                    <p>Total Quantity: {{ totalQuantity }}</p>
                    <p>Shipping Fee: FREE</p>
                    <P>Total Price: {{ totalPrice | currency: 'CAD' }}</P>
                </div>

                <div class="text-center">
                    <button (click)="onSubmit()" type="submit" class="btn btn-info">Submit Order</button>
                </div>
            </form>
        </div>
    </div>
</div>
